*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.main{ infinite ;
    color: blue;
    box-shadow: 34px;  
}
@keyframes{
    
}

.timer{
    display: flex;
    /* flex-basis: 100; */
}
