*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
body{    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background:#0033ee;
}
.header{
    width:100%;
    height: 40px;
    color: black;
    /* background:#fc46aa; */
}
.title{
    padding: 10px 10px;
}
.title span{
    color:white;
    font-weight: 500;
    font-weight: bolder;
    border: 2px solid gold;
    letter-spacing:0.4px;
}
nav {
    float: right;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    cursor:pointer;
    transition:1s ease-in;
    color:white;
    background: lime;
    padding: 3px;
}
button{
    background:red ;
    color: white;
    border: 1px solid gold;
border-radius: 20px;
padding: 4px;
cursor: pointer;
}
.btn{
    background: blue;
    border-radius: 0px;
} 
.btn:hover{
    color: white;
    background-color: red;
    transition-delay: calc(2s);
    transition:.7s ease-in-out;
}
.content{
    position:relative;
    top: 30%;
    transform: translateY(-50%);
    padding: 20px;
    
}
.tte{
    font-size:100;
    font-family:times;

}
span{
    color: red;
    text-transform:capitalize;
}
.hero{
    font-size:29;
    font-weight:bolder;
}
.hero span{
    letter-spacing: 0px;
    animation: abc 6s linear infinite;
    display:inline-block;

}
@keyframes abc{
    0%{
        text-shadow: 0 0 30px rgba(0,0,0,0 );
    }
    50%{
        text-shadow: 0 0 30px rgba(0,0,0,0.9);
        transform: translateY(30px);
    }
    100%{
        text-shadow: 0 0 30px rgba(0,0,0,0);
        /* transform: translateY(40px); */
    }
}
.hero span:nth-child(1){
    animation-delay: 0.5s;
}
.hero span:nth-child(2){
    animation-delay: 1.0s;
}.hero span:nth-child(3){
    animation-delay: 1.5s;
}.hero span:nth-child(4){
    animation-delay: 2.0s;
}.hero span:nth-child(5){
    animation-delay: 2.5s;
}.hero span:nth-child(6){
    animation-delay: 3.0s;
}.hero span:nth-child(7){
    animation-delay: 3.5s;
}.hero span:nth-child(8){
    animation-delay: 4.0s;
}.hero span:nth-child(9){
    animation-delay: 4.5s;
}
.p{
    font-size: 30;
    font-weight: bolder;
}
.timer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.timer div{
    flex-basis:100px ;
}
.timer div p{
    font-size: 30px;
    font-weight: 100;
}
